@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");
body { margin: 0 auto; font-family: "Raleway", "Quicksand", sans-serif; }

button { width: 150px; height: 40px; border: none; border-radius: 8px; background-color: lightblue; margin-left: 10px; font-family: "Raleway", "Quicksand", sans-serif; transition: 0.2s all linear; }

button:hover { transform: scale(1.05); cursor: pointer; box-shadow: 0 0 13px black; }

.counters { text-align: center; }
/*# sourceMappingURL=style.css.map */